main {
  width: 100%;
  max-width: 560px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 48px 0 40px;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.app-header img {
  border-radius: 22px;
  box-shadow: var(--shadow);
}

.app-header p {
  font-size: 16px;
}

@media (max-width: 1024px) {
  main {
    padding: 32px 0 24px;
  }

  .app-header {
    margin-bottom: 24px;
  }
}
